// Sizes

// Spacing
$spacing: 40px;

// Breakpoints
$tablet: 740px;

// Colours

// Menu
$nav--menu-background: chocolate;
$nav__list-item-background: lime;

// Menu -- links
$link--background: mintcream;
$link--colour: black;
$link--hover-background: darkblue;
$link--hover-colour: lavender;
$link--selected: salmon;