body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav.menu {
  background: chocolate;
}

.menu--main {
  margin: 0;
  padding: 20px 0;
}

@media (min-width: 740px) {
  .menu--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Modern browsers will use space-evenly but IE and older browsers will use fallback of space-around for graceful degradation */
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.menu--main li {
  background: lime;
  display: block;
  padding: 10px;
}

.menu--main li .link {
  background: mintcream;
  display: inline-block;
  padding: 10px;
  color: black;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  width: 100%;
}

@media (min-width: 740px) {
  .menu--main li .link {
    width: auto;
  }
}

.menu--main li .link.link--selected {
  background: salmon;
}

.menu--main li .link:hover {
  color: lavender;
  background: darkblue;
}
