body {
  margin: 0;
}

nav.menu {
  background: chocolate;
}

.menu--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Modern browsers will use space-evenly but IE and older browsers will use fallback of space-around for graceful degradation */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

@media (min-width: 1280px) {
  .menu--main {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu--main li {
  background: lime;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
}

.menu--main li .link {
  background: mintcream;
}

.menu--main li .link .selected {
  background: salmon;
}
